*{
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}
html, body{
    height:100% 
}
.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}
.content-wrapper{
    border: 1px solid black;
    width: 40%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center ;
}
header,footer{
    min-height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}