:root{
    --operator-text: #ff0000;
}
*{
    box-sizing: border-box;
    margin: 0;
    /* text-align: center; */
    /* border: 1px solid black;
    border-radius: inherit;   */
}
html, body{
    height:100% 
}
.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}
.content-wrapper{
    /* border: 1px solid black; */
    /* width: 40%; */
    min-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding: 15px 0;
}
.calculator{
    border: 1px solid black;
    border-radius: 15px;
    min-width: 440px;
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.display{
    border: inherit;
    text-align: right;
    border-radius: inherit;
    height: 125px;
    display: flex;
    flex-direction: column  ;
/* keep diplay text bottom-aligned */
    justify-content: flex-end;
}
.controls{
    border: inherit ;
    border-radius: inherit;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 15px 0 0 0; */
    padding: 10px;
}
.row{
display: flex;
flex: 1;
gap: 10px;
}
.number,.operator{
    /* flex: auto; */
    flex: 1;
}
.color1{
    color: var(--operator-text);
}
.ac,.backspace{
    flex: 1 1 64px;
}
.equals{
    flex: 2 1 42px;
}

header,footer{
    min-height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
